<%- include('partials/header') -%>

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="img/pinterest-circle-logo-png-transparent.png" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <h6 class="text-white">You hava successfully login via email<br>
                    email: <%= username%>
                    </h6>
                    
                </div>

                <div class="mt-4">
                    <a href="/" class="btn btn-dark btn-sm">logout</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') -%>